@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap');

body{
    min-width: 360px;
    margin: 0;
    padding: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.wholePage{
    min-height: calc(100vh - 195px);
}

.content{
    flex: 1 0 auto;
    display: flex;
    margin: 0 auto;
    margin-top: 1%;
    margin-bottom: 1%;
    font-family: sans-serif;
    font-size: 100%;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: #E9E9E9;
    width: 80%;
    border-radius:12px;
}

footer{
    padding: 1rem;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    background-color: #636667;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 50px;
}

.navContainer{
    box-shadow: 0 2px 15px 0 rgba(0,0,0,0.16);
}

.navbar-brand img{
    height: 100px;
    float: left;
    margin-right: 2%;
    margin-left: 12%;
}

.navCollapse{
    display: flex;
    justify-content: space-around;
}

.navNav{
    width: 80%;
    display: flex;
    justify-items: flex-start;
    justify-content: space-evenly;
}

.navItemLink{
    padding-right: 5%;
    padding-left: 5%;
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    display: inline-block;
}

.navContainer .navCollapse .navItemLanguages .navItemLink2{
    color: blue !important;
    text-decoration: none !important;
    font-size: 16px;
}

.navItemLanguages{
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    color: #006666 !important;
    justify-content: left;
    margin-right: 2%;
}

.active{
    font-weight: bolder;
    text-decoration: underline !important;
    font-size: 27px;
    color: #006666 !important;
}

.itemsList{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 15px;
}

.itemsNumber{
    width: 80%;
    display: flex;
    justify-content: right;
    margin-top: 1%;
}

.itemsNumber p{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin-right: 1%;
}

.availableAppsPagination{
    margin-right: 10%;
}

.test{
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.referral{
    background-color: #ffffff;
    display: inline-block;
    justify-content: center;
    border-radius:12px;
    width: 80%;
    padding: 15px;
    margin-top: 25px;
    margin-bottom: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.referralDiv1{
    display: flex;
    justify-content: flex-start;
}

.referralHeader{
    font-weight: bold;
    font-size: 23px;
    margin-right: 5%;
}

.serviceType{
    padding: 10px;
    background-color: #a7d4f6;
    border-radius: 15px;
    font-weight: bold;
    height: 20%;
}

.referralDiv2{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    align-items: center;
}

.referralDiv2 .registerReferralButton{
    text-decoration: none;
    color: white;
    background-color: #2f3bdf;
    border-radius: 15px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    font-size: 20px;
}

.form{
    padding: 1rem;
    display: grid;
    justify-content: center;
    grid-gap: 2rem;
    font-size: 18px;
}

.form select,
.form input[type="text"],
.form input[type="number"],
.form input[type="date"],
.form input[type="email"]{
    border: 1px solid #7f8c8d;
    color:#2c3e50;
    border-radius: 5px;
    padding: 1rem;
    width: 100%;
    font-size: 20px;
    text-align: center;
}

.appointmentAndCheckup{
    background-color: #ffffff;
    display: inline-block;
    justify-content: center;
    border-radius:12px;
    width: 80%;
    padding: 15px;
    margin-top: 25px;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    cursor: pointer;
}

.todayApp{
    border-left: 10px solid;
    border-color: #18a74b;
}

.appToConfirm{
    border-left: 10px solid;
    border-color: #C70039;
}

.incomingApp{
    border-left: 10px solid;
    border-color: #2d74ab;
}

.archivalApp{
    border-left: 10px solid;
    border-color: #636667;
}

.appointmentButtons .Button{
    margin-right: 1%;
}

.top{
    display: flex;
    justify-content: space-between;
}

.data p{
    margin-top: -5%;
    text-align: right;
}

.appointmentAndCheckupHeader{
    font-weight: bold;
    font-size: 23px;
}

.header{
    font-weight: bold;
    font-size: 19px;
}

.subsections{
    display: flex;
    justify-content: left;
}

.download{
    margin-left: 2%;
}

.subsectionsReferral{
    display: flex;
    justify-content: space-between;
}

.listHeader{
    display: flex;
    justify-content: space-between;
    background-color: #CECBCB;
    position: center;
    padding: 1%;
    border-radius: 10px;
    width: 98%;
}
.listHeader h2{
    font-weight: lighter;
    font-size: 40px;
    color: #006666;
    margin-left: 4%;
}

.appointmentList{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 15px;
}

.appointmentListHeader{
    display: flex;
    width: 80%;
    justify-content: flex-start;
    margin-top: 1%;
}

.checkboxes{
    display: flex;
    margin-bottom: 2%;
}

.checkbox{
    margin: 0 20px 0 20px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    transform: scale(1.1);
}

.checkBoxesAndButton{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.actionButton{
    background-color: white;
    padding: 10px 24px;
    color: #008CBA;
    border: 2px solid #05867e;
    border-radius: 12px;
    cursor: pointer;
    font-size: 20px;
    height: auto;
}

.actionButton:hover{
    background-color: #05867e;
    color: white;
}

.appointmentFormSubsectionItem{
    font-size: 80%;
    cursor: pointer;
}

.appointmentFormSubsectionItem:hover{
    background-color: #f5f5f5;
}

.appointmentFormSubsectionItem:active{
    background-color: #ebecec;
}

.deleteButton{
    background-color: white;
    padding: 10px 24px;
    color: #dc3545;
    border: 2px solid #dc3545;
    border-radius: 12px;
    cursor: pointer;
    font-size: 20px;
    height: auto;
}

.deleteButton:hover{
    background-color: #dc3545;
    color: white;
}

.addButton {
    background-color: white;
    padding: 10px 24px;
    color: #18a74b;
    border: 2px solid #18a74b;
    border-radius: 12px;
    cursor: pointer;
    font-size: 20px;
    height: auto;
}

.addButton:hover{
    background-color: #18a74b;
    color: white;
}

.appDate{
    display: flex;
    justify-content: flex-start;
    width: 80%;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
}

.dateInput{
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

.newAppointmentForm{
    background-color: white;
    border-radius: 12px;
    padding: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 60%;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.availableAppointment{
    background-color: white;
    border-style: solid;
    border-color: #86d6bb;
    border-width: 2px;
    display: flex;
    border-radius:12px;
    width: 70%;
    margin-top: 6px;
    margin-bottom: 6px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.availableAppointmentDate{
    background-color: #86d6bb;
    width: 25%;
    color: white;
    font-size: 24px;
    display: block;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.availableAppointment:hover{
    border-color: #3faf96;
    border-radius:16px;
    cursor: pointer;
}

.availableAppointmentDate p{
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.availableAppointmentDoctor{
    display: flex;
    align-items: center;
    font-size: 22px;
    width: 50%;
}

.availableAppointmentDoctor p{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.availableAppointmentBtn{
    width: 25%;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 1%;
}

.modalBackground {
    width: 100vw;
    height: 150vh;
    background-color: rgba(200, 200, 200, 1);
    position: fixed;
}

.modalContainer {
    position: relative;
    left: 50%;
    top : 40%;
    transform: translate(-50%, -60%);
    width: 30%;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background: #ffffff;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.smallerModal {
    margin-top: 2%;
    height: 56%;
}

.biggerModal {
    margin-top : 8%;
    height : 64%;
}

.modalContainer .modalTitle {
    display: inline;
    text-align: center;
    margin-top: 10px;
}

.titleCloseBtn {
    display: flex;
    justify-content: flex-end;
}

.titleCloseBtn button {
    background-color: transparent;
    border: none;
    font-size: 150%;
    cursor: pointer;
}

.modalContainer .modalBody {
    flex: 50%;
    display: block;
    justify-content: flex-start;
    font-size: 24px;
}

.modalContainer .modalSection{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 4%;
    margin-top : 4%;
}

.modalContainer .warning{
    color: red;
    font-size:80%;
    display: flex;
    justify-content: center;
}

.modalContainer .modalFooter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContainer .modalFooter button {
    width: 150px;
    height: 45px;
    margin: 10px;
    border: none;
    background-color: #7cccbf;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
}

.modalContainer .modalFooter button:hover{
    background-color: #4ea698;
}

.modalContainer .modalFooter .cancelButton{
    background-color: #C70039;
}

.modalContainer .modalFooter .cancelButton:hover{
    background-color:  #900C3F;
}

.topBuffer {
    margin-top: 20px!important;
}

.fileTable{
    text-align: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
}

.listActions{
    margin: 0;
    text-align: center;
    list-style: none;
    padding: 0;
}

.listActions li{
    display: inline-block;
    margin-left: 3%;
    margin-right: 3%;
}

.loginForm{
    background-color: rgba(200, 200, 200, 1);;
    border-radius: 12px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    min-width: 40%;
    padding: 20px;
}

@media all and (max-width: 500px) {
    .nav{
        background-color: red;
    }

    body,
    nav,
    nav ul,
    header,
    main,
    footer {
        margin: 0;
    }

    .navCollapse{
        display: flex;
        justify-content: flex-start;
        justify-items: flex-start;
    }

    .modalContainer {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        width: 90%;
        height: 32%;
        border-radius: 12px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        background: #ffffff;
        transition: 0.5s;
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
}